*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	font-family: "Ubuntu", sans-serif;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	min-height: 100vh;
	background: linear-gradient(transparent, rgba(110, 110, 110, 0.3)),
		linear-gradient(100deg, rgba(250, 214, 195, 0.8) 30%, #b0eae8 120%);
}
